/* 
.header-top{
    background: #191919;
}

.header-nav{
    background-color: rgba(25, 25, 25, 0.95);
}
.about{
    background-color: aquamarine;
}
.client{
    background: #f2f2f2;
}
footer{
    background: #0c0c0c;
    height: 401px;
    padding: 30px;
} */